<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:#0077b6;">
    <div class="container">
        <a class="navbar-brand" href="/products">Shopping-App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                  </li>
               
                <% if(CurrentUser && CurrentUser.role==='seller'){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/new">New</a>
                    </li>
                <%}%>

                <div class="navbar-nav ml-auto">
                    <%if(!CurrentUser){%>
                        <a class="nav-link" href="/login">Login</a>
                    
                <%}else{%>
                        <a href="#" class="nav-link text-capitalize">hello <%=CurrentUser.username%></a>

                            <a class="nav-link" href="/logout">LogOut</a>
                        
                        <%}%>




            </ul>
        </div>
    </div>
</nav>